@page "/BlobStoringManagement"
@using Microsoft.Extensions.Localization
@using global::Dignite.Abp.BlobStoringManagement.Localization
@inject IStringLocalizer<BlobStoringManagementResource> L
@{
}
<h1>BlobStoringManagement</h1>
<p>@L["SamplePageMessage"]</p>