@page "/SettingManagement"
@using Microsoft.Extensions.Localization
@using Dignite.Abp.FieldCustomizing.FieldControls
@using Dignite.Abp.FieldCustomizing.FieldControls.Textbox
@using Dignite.Abp.FieldCustomizing.Blazor
@using Dignite.Abp.FieldCustomizing.Blazor.Components.FieldCustomizing
@{
    FieldControlConfigurationDictionary configDictionary = new FieldControlConfigurationDictionary();
    configDictionary.SetConfiguration<string>(TextboxConfigurationNames.Placeholder, "²âÊÔÎÄ±¾¿ò");
}
<h1>SettingManagement5</h1>

<Textbox ConfigurationDictionary="@configDictionary"></Textbox>
