@page
@using Microsoft.Extensions.Localization
@using Dignite.Abp.NotificationCenter.Localization
@using Dignite.Abp.NotificationCenter.Web.Pages.NotificationCenter
@model Dignite.Abp.NotificationCenter.Web.Pages.NotificationCenter.IndexModel
@inject IStringLocalizer<NotificationCenterResource> L

@{
}
<h1>NotificationCenter</h1>
<p>@L["SamplePageMessage"]</p>
