@using Volo.Abp.UI.Navigation
@inject IJSRuntime JS
@inherits LayoutComponentBase
<SideNav></SideNav>
<nav class="navbar navbar-expand-md navbar-dark bg-primary shadow-sm px-md-3 main-navbar" id="main-navbar">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" @onclick="SideNavToggle" id="navbarToggler">
        <span class="navbar-toggler-icon"></span>
        </button>
        <Branding />
        <NavMenu />        
        <NavToolbar />
    </div>
</nav>
<div class="container-fluid px-md-3 page-container">
    <PageAlert />
    @Body
    <UiMessageAlert />
    <UiNotificationAlert />
    <UiPageProgress />
</div>
@code{
    private void SideNavToggle()
    {
        JS.InvokeVoidAsync("sideNavToggle");
    }    
}