@using Volo.Abp.UI.Navigation
@inject IJSRuntime JS
@inherits LayoutComponentBase


<Layout>
    <LayoutHeader Fixed>
        <Bar Breakpoint="Breakpoint.Desktop" Background="Background.Primary" ThemeContrast="ThemeContrast.Light" Class="main-navbar" ElementId="main-navbar">
            @if(SideNav!=null)
            {
            <BarToggler Bar="@SideNav.Sidebar" />
            }
            <Branding />
            <NavMenu />  
            <NavToolbar />
        </Bar>
        <nav class="navbar navbar-expand-md navbar-dark bg-primary shadow-sm px-md-3 main-navbar" id="main-navbar">
            <div class="container-fluid">
                
                <button class="navbar-toggler" type="button" id="navbarToggler">
                <span class="navbar-toggler-icon"></span>
                </button>      
            </div>
        </nav>
    </LayoutHeader>
    <Layout Sider>
        <LayoutSider>
            <LayoutSiderContent>
                <SideNav @ref="SideNav"></SideNav>
            </LayoutSiderContent>
        </LayoutSider>
        <Layout>
            <LayoutContent Padding="Padding.Is4.OnX">
                <PageAlert />
                @Body
                <UiMessageAlert />
                <UiNotificationAlert />
                <UiPageProgress />
            </LayoutContent>
        </Layout>
    </Layout>
</Layout>

@code {
    private SideNav SideNav;
}